// lear
// Pricing Component

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// Colors
$lightBlue: hsl(237, 63%, 64%);
$linearGradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$veryLightGrayishBlue: hsl(240, 78%, 98%);
$lightGrayishBlue: hsl(234, 14%, 74%);
$grayishBlue: hsl(233, 13%, 49%);
$darkGrayishBlue: hsl(232, 13%, 33%);
$white: hsl(0, 0, 100%);

body {
  position: relative;
  background-color: $veryLightGrayishBlue;
  isolation: isolate;
}

// Top Image
.top-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

// Main Content
.main-content {
  text-align: center;
  padding: 2.5rem 5%;
  max-width: 70rem;
  margin: auto;

  .title {
    color: $grayishBlue;
  }

  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 0;
    gap: 1.5rem;

    .period {
      font-size: 0.925rem;
      color: $lightGrayishBlue;

      &.active {
        color: $darkGrayishBlue;
      }
    }

    .switch-btn {
      display: grid;
      place-content: center left;
      width: 64px;
      height: 32px;
      background-image: linear-gradient($linearGradient);
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      padding-left: 0.25rem;
      cursor: pointer;

      &.active {
        padding-left: 0;
        padding-right: 0.25rem;

        .circle {
          transform: translateX(calc(34px));
          -webkit-transform: translateX(calc(34px));
          -moz-transform: translateX(calc(34px));
          -ms-transform: translateX(calc(34px));
          -o-transform: translateX(calc(34px));
        }
      }

      .circle {
        background-color: $white;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }
  }

  .row {
    display: flex;
    align-items: center;

    .item {
      flex-basis: 100%;
      padding: 2rem;
      border-radius: 0.75rem;
      -webkit-border-radius: 0.75rem;
      -moz-border-radius: 0.75rem;
      -ms-border-radius: 0.75rem;
      -o-border-radius: 0.75rem;
      background-color: $white;

      .name {
        color: $grayishBlue;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 2rem;
        color: $darkGrayishBlue;
        font-weight: 700;
        padding: 0.55rem 0 1.1rem;
        border-bottom: 1px solid $lightGrayishBlue;

        span {
          font-size: 3.5rem;

          .hidden-price {
            display: none;

            &.active {
              display: inline-block;
            }
          }
        }
      }

      .offer {
        color: $grayishBlue;
        padding: 1.1rem 0;
        border-bottom: 1px solid $lightGrayishBlue;
      }

      .btn {
        margin-top: 2rem;
        width: 100%;
        padding: 0.8rem;
        background: linear-gradient($linearGradient);
        border: none;
        border-radius: 0.35rem;
        -webkit-border-radius: 0.35rem;
        -moz-border-radius: 0.35rem;
        -ms-border-radius: 0.35rem;
        -o-border-radius: 0.35rem;
        color: $white;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2.5px;
        font-size: 0.725rem;

        &:hover {
          color: $lightBlue;
          background: $white;
          outline: 1px solid $lightBlue;
        }
      }

      &.center {
        padding: 3rem 2rem;
        background-image: linear-gradient($linearGradient);

        .name,
        .price,
        .offer {
          color: $white;
          border-color: $white;
        }

        .btn {
          background: $white;
          color: $lightBlue;

          &:hover {
            outline: 1px solid $white;
            color: $white;
            background: transparent;
          }
        }
      }
    }
  }
}

// Bottom Image
.bottom-image {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

// For Smaller Devices
@media screen and (max-width: 968px) {
  .row {
    flex-direction: column;
    gap: 2.5rem;

    .item {
      padding: 2rem !important;
      width: min(320px, 100%);
    }
  }
}
